<form class="example-form" (ngSubmit)="registerSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Firstname</mat-label>
    <input matInput placeholder="Firstname" type="text" name="firstname" [(ngModel)]= "reg.firstname" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Lastname</mat-label>
    <input matInput placeholder="Lastname" type="text" name="lastname" [(ngModel)]= "reg.lastname" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" name="email" [(ngModel)]= "reg.email" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" name="password" [(ngModel)]= "reg.password" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Mobile</mat-label>
    <input matInput placeholder="Mobile" type="text" name="mobile" [(ngModel)]= "reg.mobile" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <textarea matInput placeholder="Address" type="text" name="address" [(ngModel)]= "reg.address" required></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit" color="accent">Register</button>&nbsp;
  <button mat-raised-button type="button" color="accent" (click)="login()">Login</button>

</form>
