
<form class="example-form" (ngSubmit)="categorySubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Categoryname</mat-label>
      <input matInput placeholder="categoryname" type="text" name="categoryname" [(ngModel)]= "cat.categoryname" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="description" type="text" name="description" [(ngModel)]= "cat.description" required></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit" color="accent">Category</button>&nbsp;
    <button mat-raised-button type="button" color="accent" (click)="back()">Back</button>
  
  </form>
  